header {
  display: flex;
  justify-content: center;
  z-index: 1000;
  margin: 1em 0em 1em 1em;

  .header_logo {
    width: 40%;
    &-menu {
      width: 166px;
    }
  }

  .header_container {
    display: flex;
  }
}

.arrow {
  align-self: center;
  position: absolute;
  left: 0;
  margin: 15px;
}

.left {
  font-size: x-large;
  color: black;
}
