<footer class="footer">
  <div class="footer_contenu">
    <span class="footer_logo">ohmyfood</span>
    <nav>
      <ul class="footer_list">
        <li>
          <a href="#"
            ><i class="fas fa-utensils items_footer"></i>Proposer un
            restaurant</a
          >
        </li>
        <li>
          <a href="#"
            ><i class="fas fa-hands-helping items_footer"></i>Devenir
            partenaire</a
          >
        </li>
        <li><a href="#">Mentions légales</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
</footer>
