.btn {
  border-radius: 2em;
  padding: 1em 1.5em;
  @include color-like;
  border: 0;
  color: white;
  font-size: 0.8em;
  box-shadow: 0 0.5em 8px 0 rgb(0 0 0 / 15%);
  cursor: pointer;

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: #fff;
    box-shadow: 0 0.5em 8px 0 rgb(0 0 0 / 30%);
    filter: brightness(105%);
    -webkit-filter: brightness(105%);
  }
}

.button {
  display: flex;
  justify-content: center;
  padding: 1.5em;
}
