.menu_like {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  border: 0 solid transparent;
  font-size: large;
  .like {
    position: absolute;
    font-size: larger;
  }
  .black {
    font-size: larger;
  }
}
