.btn {
  border-radius: 2em;
  padding: 1em 1.5em;
  background-image: linear-gradient(
    345deg,
    ($color-primary),
    ($color-secondary)
  );
  border: 0;
  color: white;
  font-size: 0.8em;
  box-shadow: 0 0.5em 8px rgb(0 0 0 / 15%);
  transform: scale(1);
  transition: transform 0.1s;
  &:hover {
    transform: scale(1.04);
  }
}

.function {
  margin: 1em;
  .function_block {
    @media screen and (min-width: 800px) {
      grid-template-columns: repeat(3, 1fr);
      display: grid;
      column-gap: 1rem;
      row-gap: 1rem;
    }
  }
}

.function_container {
  display: flex;
  align-items: baseline;
  background-color: #f6f6f6;
  box-shadow: 0.2em 0.3em 0.3em rgb(0 0 0 / 10%);
  margin: 1em 0;
  border-radius: 1.25rem;
  .function_number {
    color: #fff;
    background-color: $color-primary;
    border-radius: 1em;
    height: 22px;
    width: 20px;
    margin-left: -9px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
  }
}

.function_btn {
  border: none;
  background: #f6f6f6;
  padding: 1.6em;
}

.function_logo {
  display: flex;
  align-items: center;
  margin-left: 1em;
}

.button {
  display: flex;
  justify-content: center;
  padding: 1.5em;
}

.button_command {
  @include button-page;
  width: 60%;
}
