.menu_picture {
  width: 100%;
}

.menu {
  position: relative;
  background-color: #f6f6f6;
  margin-top: -5rem;
  border-radius: 2em 2em 0 0;
  .menu_title-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
  }
}

.menu_title {
  font-family: $font-type;
}

.choice_container {
  padding: 0 1em 1em;
  .choice_title-name {
    font-weight: 200;
    margin: 0;
    font-size: initial;
  }

  .choice_line {
    width: 17%;
    height: 3px;
    background-color: $color-tertiary;
  }
}

.choice_items {
  @include space-txt-over;
  flex: 1;
  .choice_items-text {
    margin: 0 0 0.3em 0;
    font-weight: 400;
    @include space-txt-over;
  }

  .choice_items-subtext {
    margin: 0;
    // width: 245px;
    font-weight: 200;
    font-size: 0.9em;
    @include space-txt-over;
  }
}

.choice_price {
  display: flex;
  align-items: flex-end;
  margin: 0;
  .choice_price-menu {
    margin: 0;
  }
}

.choice_bloc {
  background-color: white;
  padding: 0.7em;
  display: flex;
  // justify-content: space-between;
  overflow: hidden;
  border-radius: 1em;
  margin: 1em 0;
  box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
  cursor: pointer;
}

.choice_delay-1 {
  animation: fadein 1s;
}

.choice_delay-2 {
  animation: fadein 2s;
}

.choice_delay-3 {
  animation: fadein 3s;
}

@keyframes fadein {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
